<div class="container" >
  <h1>All Users</h1>
  <hr>
  <% @users.each do |user|%>
      <div>
        <h4><%= user.id %> . <%= link_to user.name, usr_user_path(user) %></h4>
      </div>
      <div>

      </div>
  <% end %>
</div>
