<div class="container" >
<hr>
<h2>Permissions</h2>
<hr>
<div >
  <% @permissions.each do |permission| %>

        <h4>
          <%= permission.permission_name %> :
        </h4>

  <% end %>
</div>
</div>